body {
  margin: 0;
  background-color: #E8F2FB;
  font-family: Comic Sans MS;
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem;
}

.text-center{
  text-align: center;
}

.menu-1{
  background-color: #3898D4;
  padding-top: 70px;
  padding-bottom: 70px;
  border-radius: 20px;
}

.banner{
  margin-top: -100px;
}

.wide-button {
  width: 170px;
  height: 50px;
}
