body {
  margin: 0;
  background-color: #E8E9F3;
  font-family: Comic Sans MS;
  text-align: center;
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
